.vxe-table {

	// table 复选框宽度
	.vxe-checkbox--icon {
		font-weight: 400 !important;
	}

	.vxe-table--body {
		.vxe-cell {
			width: 100% !important;
			height: 100%;
			// 单元格内部的内容垂直居中
			display: flex;
			justify-content: center;
			align-items: center;

			.vxe-cell--label {
				line-height: 36px;
			}
		}

		.vxe-cell--wrapper {
			flex: 1;
			min-height: 0;
			min-width: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: inherit;
		}

		// 校验提示文字位置
		.vxe-cell--valid-error-hint {
			bottom: -0.5rem;
		}

		.vxe-table--body-wrapper::-webkit-scrollbar,
		.vxe-table--header-wrapper::-webkit-scrollbar,
		.vxe-table--footer-wrapper::-webkit-scrollbar {
			width: 12px;
			/* 垂直条粗细 */
			height: 12px;
			/* 水平条粗细 */
		}
	}
}