/* 初始化样式
------------------------------- */
@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none !important;
}

body,
html {
	width: 100%;
	height: 100%;
}

ol,
ul {
	list-style: none;
}

html {
	font-size: 62.5%;
}

/* nprogress 进度条跟随主题颜色
------------------------------- */
#nprogress {
	.bar {
		background: var(--el-color-primary) !important;
		z-index: 9999999 !important;
	}
}

/* fieldset */
fieldset {
	border: 1px solid var(--el-border-color);
	padding: 10px 15px;
	margin: 0px 10px;
	border-radius: 2px;
	legend {
		padding: 0px 5px;
		text-align: left;
	}
}

/**修改全局的滚动条*/
/**滚动条的宽度*/
::-webkit-scrollbar {
	width: 8px;
	height: 8px;

	&-thumb {
		border-radius: 4px;
		position: relative;
		display: block;
		width: 0;
		height: 0;
		cursor: pointer;
		background-color: rgba(144, 147, 153, 0.5);
		transition: 0.3s background-color;
		&:hover {
			background-color: rgba(144, 147, 153, 0.7);
		}
		&:active {
			background-color: rgba(144, 147, 153, 0.9);
		}
	}
	&-track {
		background: #fff;
		&-piece {
			width: 6px;
		}
	}
}
