@import './flex.scss';
@import './wave.scss';


/* margin padding四个方向的预设值类名 */
@for $i from 0 through 100 {
	.m#{$i} {
		margin: #{$i}px;
	}

	.mt#{$i} {
		margin-top: #{$i}px;
	}

	.mr#{$i} {
		margin-right: #{$i}px;
	}

	.mb#{$i} {
		margin-bottom: #{$i}px;
	}

	.ml#{$i} {
		margin-left: #{$i}px;
	}

	.p#{$i} {
		padding: #{$i}px;
	}

	.pt#{$i} {
		padding-top: #{$i}px;
	}

	.pr#{$i} {
		padding-right: #{$i}px;
	}

	.pb#{$i} {
		padding-bottom: #{$i}px;
	}

	.pl#{$i} {
		padding-left: #{$i}px;
	}
}

/* 字体大小 */
@for $i from 10 through 32 {
	.font#{$i} {
		font-size: #{$i}px !important;
	}
}